SafeShoppingList/RecallTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="recallsdata">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="recalls">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Brand" type="xs:string" />
							<xs:element name="Company" type="xs:string" />
							<xs:element name="Date" type="xs:string" />
							<xs:element name="ProductDescription" type="xs:string" />
							<xs:element name="ProductType" type="xs:string" />
							<xs:element name="Reason" type="xs:string" />
							<xs:element name="Url" type="xs:string" />
							<xs:element name="Terminated" />
						</xs:sequence>
						<xs:attribute name="Brand" type="xs:string" use="required" />
						<xs:attribute name="Company" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="year" type="xs:unsignedShort" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>